<!DOCUMENT html>
<html>

<head>
</head>

<body>

  <h1>Editing concert</h1>

  <%= form_for :concert, url: concert_path(@concert), method: :patch do |f| %>
    <% if @concert.errors.any? %>
      <h2> Errors: </h2>
      <ul>
        <% @concert.errors.full_messages.each do |message| %>
          <li> <%= message %> </li>
        <% end%>
      </ul>
    <% end %>

  <p>
    <%= f.label :band %><br>
    <%= f.text_field :band %>
  </p>

  <p>
    <%= f.label :venue %><br>
    <%= f.text_area :venue %>
  </p>

  <p>
    <%= f.label :city %><br>
    <%= f.text_area :city %>
  </p>  

  <p>
    <%= f.label :date %><br>
    <%= f.text_area :date %>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.text_area :price %>
  </p>

  <p >
    <%= f.label :photo %><br>
    <p> <%= f.text_area :photo %> Enter the URL </p>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :tickets %><br>
    <%= f.text_area :tickets %>
  </p>

  <p>
    <%= f.submit %>
  </p>
  <% end %>

  <%= link_to 'Back', concerts_path %>

</body>
</html>