<body>

    <header>
        <div align="middle">
            <a href="http://localhost:3000/concerts"><img src="logo.png" alt="Concertiate" title="Welcome to concertiate!"/>
        </div>
    </header>

    <!-- ======================== inicio slider ======================== -->

    <div class='form_container '>
        <div class="slideContainer">

            <a href="http://localhost:3000/concerts/1" style='text-decoration:underline;'>
                <div class="slide" data-background='/assets/slide1.jpg'>
                </div>
            </a>

            <a href="http://localhost:3000/concerts/2" style='text-decoration:underline;'>
                <div class="slide" data-background='/assets/slide2.jpg'>
                </div>
            </a>
        </div>
        <button class="left"> &#60; </button>
        <button class="right">&#62;</button>
    </div>
    <script src='http://code.jquery.com/jquery-latest.js'></script>

    <!-- ======================== fin slider ======================== -->
    
    <section id="content"><div class="ic"></div>
        <div class="container_12 top-1">
        
            <div class="grid_4">
                <h2 class="p2">What is Conciertate?</h2>
                
                <p class="text-1 top-2 p3">The new app for music lovers</p>
                <p>Conciertate show you a concerts callendar for the next months</p>
                <p class="button top-3"><%= link_to 'New concert', new_concert_path %></p>
            </div>

            <div class="grid_4">
                <h2 class="p2">Concerts</h2>    
                <% @concerts.each do |concert|%>
                    <div class="wrap border-bot-1">
                        <%= concert.band %>
                        
                        <p class="button top-3"><%= link_to 'More info...',  concert_path(concert)%></p>
                        <p class="button top-3"><%= link_to 'Edit', edit_concert_path(concert) %></p>
                        <p class="button top-3"><%= link_to 'Delete', concert_path(concert), method: :delete, data: { confirm: 'Are you sure?' } %></p>
                    </div>
                <% end %> 
            </div>       
            <div class="grid_4">
                <div class="left-2">
                    <h2 class="p4">Featured Events!</h2>
                        <div class="wrap border-bot-1">
                            <% @concerts.each do |concert|%>
                                <div class="wrap border-bot-1">
                                    <% if concert.date > Time.now %>
                                        <li><%= concert.band %></li>
                                    <% end %>
                                </div>   
                            <% end %>
                        </div>
                </div>
            </div>       
            <div class="clear"></div>
        </div>
    </section> 
    <section id="content"><div class="ic"></div>
        <div class="container_12 top-1">

<!--==============================footer=================================-->

    <footer>
        <div class="footer-col-1">
            <h3>Why Us</h3>
            <ul class="list-1">
                <li>By our happy coding</li>
                <li>By our younger thinking</li>
                <li>And cause you want to go to a CONCERT!</li>
            </ul>
        </div>
        <div class="footer-col-2">
            <h3>Address</h3>
            <dl class="adrss">
                <dd><span>Country:</span>Spain</dd>
                <dd><span>City:</span>Madrid</dd>
                <dd><span>Email:</span><a href="#" class="link">team6@webdevelopers.com</a></dd>
            </dl> 
        </div>  
        <div class="footer-col-3">
            <h3>Team Members</h3>
            <ul class="list-1">
            <li>Juan Pablo Marin</li>
            <li>Virginia Martos</li>
            <li>Marcos Vazquez</li>
        </div>   
        <div class="footer-col-4">
            <p>
                © 2015 Ironhack 
                <a rel="nofollow" href="http://www.ironhack.com/" target="_blank" class="link">Website</a> by Ironhack
            </p>
        </div>  
    </footer>
</body>
