<header>
	<h1 align="middle">Welcome to Conciertate!</h1>
</header>

<body>
	<h1 align= "middle">Listing concerts</h1> 
	<% @concerts.each do |concert|%>
    	<div>
    		<%= concert.band %>
    		<button type='button' id='like-button'> Like </button>
    		<%= link_to 'More info...',  concert_path(concert)%>
    		<%= link_to 'Edit', edit_concert_path(concert) %>
    		<%= link_to 'Delete', concert_path(concert), method: :delete, data: { confirm: 'Are you sure?' } %>
    	</div>
	<% end %>

	<p>
    	<%= link_to 'New concert', new_concert_path %>
	</p>

</body>