<head>
    <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/grid_12.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/slider.css">
</head>

<body>

    <nav>
        <div class='slider'>
            <% @concerts.each do |concert|%>
                <% if concert.date === Time.now.strftime("%d/%m/%Y") %>
                    <br><br>
                    <h2 class='white'><%= concert.band %></h2>
                <% end %>
            <% end %>
        <div>
    </nav>
    
    <section id="content"><div class="ic"></div>
        <div class="container_12 top-1">
        
            <div class="grid_4">
                <h2 class="p2">Welcome to Conciertate!</h2>
                
                <p class="text-1 top-2 p3">The new app for music lovers</p>
                <p>Conciertate show you a concerts callendar for the next months</p>
                <p class="button top-3"><%= link_to 'New concert', new_concert_path %></p>
            </div>

            <div class="grid_4">
                <h2 class="p2">CONCERTS</h2>    
                <% @concerts.each do |concert|%>
                    <div class="wrap border-bot-1">
                        <%= concert.band %>
                        
                        <p class="button top-3"><%= link_to 'More info...',  concert_path(concert)%></p>
                        <p class="button top-3"><%= link_to 'Edit', edit_concert_path(concert) %></p>
                        <p class="button top-3"><%= link_to 'Delete', concert_path(concert), method: :delete, data: { confirm: 'Are you sure?' } %></p>
                    </div>
                <% end %> 
            </div>       
            <div class="grid_4">
                <div class="left-2">
                    <h2 class="p4">Recent Events</h2>
                        <div class="wrap border-bot-1">
                            <% @concerts.each do |concert|%>
                                <div class="wrap border-bot-1">
                                    <% if concert.date > Time.now %>
                                        <li><%= concert.band %></li>
                                    <% end %>
                                </div>   
                            <% end %>
                        </div>
                </div>
            </div>       
            <div class="clear"></div>
        </div>
    </section> 

<!--==============================footer=================================-->

    <footer>

        <div class="footer-col-1">
            <h3>Why Us</h3>
            <ul class="list-1">
                <li>By our happy coding</li>
                <li>By our younger thinking</li>
                <li>And cause you want to go to a CONCERT!</li>
            </ul>
        </div>
        <div class="footer-col-2">
            <h3>Address</h3>
            <dl class="adrss">
                <dd><span>Country:</span>Spain</dd>
                <dd><span>City:</span>Madrid</dd>
                <dd><span>Email:</span><a href="#" class="link">team6@webdevelopers.com</a></dd>
            </dl> 
        </div>  
        <div class="footer-col-3">
            <h3>Newsletter</h3>
            <form id="form-search" method="post">
              <input type="text" value="" onBlur="if(this.value=='') this.value=''" onFocus="if(this.value =='' ) this.value=''"  /><a href="#" onClick="document.getElementById('form-search').submit()"></a>
            </form>
        </div>  
        <div class="footer-col-4">
            <p>
                © 2015 Ironhack 
                <a rel="nofollow" href="http://www.ironhack.com/" target="_blank" class="link">Website</a> by Ironhack
            </p>
        </div>  
    </footer>
</body>
