  <header>
    <div align="middle">
      <a href="http://localhost:3000/concerts"><img src="/assets/logo.png" alt="Concertiate" title="Welcome to concertiate!"/>
    </div>
  </header>

<nav>  
  <ul class="menu">
    <li><%= link_to 'Home', concerts_path%></li>
  </ul>
  <div class="clear"></div>   
</nav>

<body>
  <section id="content">

    <%= form_for(@concert, html: {multipart: true}) do |f| %>
      
      <div class="error"><% if @concert.errors.any? %>
        <h2> Errors: </h2>
        
          <% @concert.errors.full_messages.each do |message| %>
            <%= message %><br>
          <% end%> 
      <% end %></div>
      
      <h2 class="p5 top-5">Information</h2>
      <div class="p">    
          <p>
              <%= f.label :band %><br>
              <%= f.text_field :band %>
          </p>    
          <p>
              <%= f.label :venue %><br>
              <%= f.text_area :venue %>
          </p>
          <p>
              <%= f.label :city %><br>
              <%= f.text_area :city %>
          </p>
          <p>
              <%= f.label :date %><br>
              <%= f.date_select :date %>
          </p>
          <p>
              <%= f.label :price %><br>
              <%= f.text_area :price %>$
          </p>
          <p>
              <%= f.label :photo %><br>
              <p> <%= f.text_area :photo %> Enter the URL </p>
          </p>
          <p>
              <%= f.label :description %><br>
              <%= f.text_area :description %>
          </p>
          <p>
              <%= f.label :tickets %><br>
              <%= f.text_area :tickets %>
          </p>
          <p>
              <div class="button top-3"><%= f.submit %></div>
          </p>
      </div>
    <% end %>
  </section>

  <footer>
    <div class="footer-col-1">
      <h3>Why Us</h3>
      <ul class="list-1">
        <li>By our happy coding</li>
        <li>By our younger thinking</li>
        <li>And cause you want to go to a CONCERT!</li>
      </ul>
    </div>
    <div class="footer-col-2">
      <h3>Address</h3>
      <dl class="adrss">
        <dd><span>Country:</span>Spain</dd>
        <dd><span>City:</span>Madrid</dd>
        <dd><span>Email:</span><a href="#" class="link">team6@webdevelopers.com</a></dd>
      </dl> 
    </div>  
    <div class="footer-col-3">
      <h3>Team Members</h3>
      <ul class="list-1">
        <li>Juan Pablo Marin</li>
        <li>Virginia Martos</li>
        <li>Marcos Vazquez</li>
    </div>  
    <div class="footer-col-4">
      <p>
        © 2015 Ironhack 
        <a rel="nofollow" href="http://www.ironhack.com/" target="_blank" class="link">Website</a> by Ironhack
      </p>
    </div>  
  </footer>
</body>
