<body>     

  <header>
    <div align="middle">
      <a href="http://localhost:3000/concerts"><img src="/assets/logo.png" alt="Concertiate" title="Welcome to concertiate!"/>
    </div>
  </header>

  <nav>  
    <ul class="menu">
      <li><%= link_to 'Home', concerts_path%></li>
      <li><%= link_to 'Edit', edit_concert_path(@concert) %></li>
      <li><%= link_to "Like", :controller => :concerts, :action => :like %></li>
    </ul>
    <div class="clear"></div>   
  </nav> 

  <section id="content"><div class="ic"></div>
    <div class="container_12 top-4">
      <div class="grid_12">
          <div class="left-1">
              <h2 class="p5"><%= @concert.band %></h2>
                <div class="wrap">
                  <div class="img-indent-2"><%= image_tag(@concert.photo) %></div>
                  <div class="extra-wrap">
                    <p class="p">
                      <%= @concert.description %>
                      
                    </p>
                  </div>
                </div>
                <h2 class="p5 top-5">Information</h2>
                <div class="lists">
                  <ul class="list-2">
                    <li>Venue: <%= @concert.venue %></li>
                    <li>City: <%= @concert.city %></li>
                    <li>Date: <%= @concert.date %></li>
                    <li>Price: <%= @concert.price %></li>
                    <li>PURCHASE TICKETS ONLINE AT <%= link_to 'HERE', @concert.tickets %> OR CHARGE TICKETS BY PHONE, CALL 888.929.7849. Tickets to this show are not available at the Denver Coliseum box office.</li>
                    <li><strong>Likes:</strong><%= @concert.likes %></li>
                  </ul>
                </div>
          </div>
      </div>
      <div class="clear"></div>
    </div>
  </section>
  <!--==============================footer=================================-->

  <footer>
    <div class="footer-col-1">
      <h3>Why Us</h3>
      <ul class="list-1">
        <li>By our happy coding</li>
        <li>By our younger thinking</li>
        <li>And cause you want to go to a CONCERT!</li>
      </ul>
    </div>
    <div class="footer-col-2">
      <h3>Address</h3>
      <dl class="adrss">
        <dd><span>Country:</span>Spain</dd>
        <dd><span>City:</span>Madrid</dd>
        <dd><span>Email:</span><a href="#" class="link">team6@ironhack.com</a></dd>
      </dl> 
    </div>  
    <div class="footer-col-3">
      <h3>Team Members</h3>
      <ul class="list-1">
        <li>Juan Pablo Marin</li>
        <li>Virginia Martos</li>
        <li>Marcos Vazquez</li>
    </div>   
    <div class="footer-col-4">
      <p>
        © 2015 Ironhack 
        <a rel="nofollow" href="http://www.ironhack.com/" target="_blank" class="link">Website</a> by Ironhack
      </p>
    </div>  
  </footer>
</body>
