<h3>
  <strong>Band:</strong>
  <%= @concert.band %>
</h3>

<p>
  <strong>Venue:</strong>
  <%= @concert.venue %>
</p>

<p>
  <strong>City:</strong>
  <%= @concert.city %>
</p>

<p>
  <strong>Date:</strong>
  <%= @concert.date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @concert.price %>
</p>

<p>
<%= image_tag(@concert.photo, height: "300", width: "320", align: "center") %>
</p>

<p>
  <strong>Description:</strong>
  <%= @concert.description %>
</p>

<p>
  <strong>Get tickets:</strong>
  <%= link_to '@concert.tickets', @concert.tickets %>
</p>

<button type='button' id='like-button'> Like </button>

<p>
    <%= link_to 'Edit', edit_concert_path(@concert)%> |
    <%= link_to 'Back', concerts_path%>
</p>