<!DOCUMENT html>
<html>

<head>
</head>

<body>

  <h3>
    <strong>Band:</strong>
    <%= @concert.band %>
  </h3>

  <p>
    <strong>Venue:</strong>
    <%= @concert.venue %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @concert.city %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @concert.date %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @concert.price %>
  </p>

  <p>
    <%= image_tag(@concert.photo, height: "300", width: "320", align: "center") %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @concert.description %>
  </p>

  <p>
    <strong>Get tickets:</strong>
    <p>PURCHASE TICKETS ONLINE <%= link_to 'HERE', @concert.tickets %> OR CHARGE TICKETS BY PHONE, CALL 888.929.7849. Tickets to this show are not available at the Denver Coliseum box office.
    </p>
  </p>

<<<<<<< HEAD
    <p>  
      <%= link_to "like", :controller => :concerts, :action => :like %>
    </p>

    <p>
      <strong>Likes:</strong>
      <%= @concert.likes %>
    </p> 

  <p>
    <%= link_to 'Edit', edit_concert_path(@concert)%> |
    <%= link_to 'Back', concerts_path%>
  </p>

</body>
</html>
